<div>
    <h1>{{ a }}</h1>
    <h2>{{ name }}</h2>

    <!-- <ol>
        <li *ngFor="let x of arr">{{ x }}</li>        
    </ol> -->


    <!-- <span *ngFor="let z of arr">
        <p>{{ z }}</p>
    </span> -->

    
    <table class="table table-dark table-striped table-bordered">
        <tr>
            <th>Color Name</th>
        </tr>
       <tr *ngFor="let x of arr">
           <td>{{ x }}</td>
       </tr>
    </table>
    
    

</div>

<!-- 
    we have a loop for used in view *ngFor

    let a = 100;


    for()
    {




    }

-->


<!-- inetrpolation -->
