<p>user works!</p>
<!-- <pre>{{ users | json }}</pre> -->
<div class="row">
    <div class="col-md-8 offset-md-2">
        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add</button>
        <br />
        <table class="table table-dark table-bordered">
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
            <tr *ngFor="let u of users; let n=index">
                <!-- <pre>{{ u | json }}</pre> -->
                    <td>{{ n+1 }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.age }}</td>
                    <td>{{ u.city }}</td>
            </tr>
        </table>
    </div>
</div>

<div id="addModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="userForm">
            <div class="modal-header">
                <h3>Add New Users</h3>
            </div>
            <Div class="modal-body">
                <div class="form-group">
                    <label>Full Name</label>
                    <input placeholder="Full Name" [ngClass]="{'is-invalid': isSubmit && userForm.controls.name.errors }" type="text" formControlName="name" class="form-control" />

                    <div *ngIf="isSubmit && userForm.controls.name.errors" class="invalid-feedback">
                        <div *ngIf="userForm.controls.name.errors.required">
                            Insert Your Full Name
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input placeholder="Age" [ngClass]="{'is-invalid': isSubmit && userForm.controls.age.errors }" type="text" formControlName="age" class="form-control" />
                    <div *ngIf="isSubmit && userForm.controls.age.errors" class="invalid-feedback">
                        <div *ngIf="userForm.controls.age.errors.required">
                            Insert Your Age
                        </div>
                        <div *ngIf="userForm.controls.age.errors.numErr">
                            Insert Numbers only
                        </div>
                        <div *ngIf="userForm.controls.age.errors.ageErr">
                            Age Between only 15 to 20
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select [ngClass]="{'is-invalid': isSubmit && userForm.controls.city.errors }" formControlName="city" class="form-control">
                        <option value="">Select</option>
                        <option value="indore">Indore</option>
                        <option value="mumbai">Mumbai</option>
                        <option value="pune">Pune</option>
                    </select>
                    <div *ngIf="isSubmit && userForm.controls.city.errors" class="invalid-feedback">
                        <div *ngIf="userForm.controls.city.errors.required">
                            Select Your City
                        </div>
                    </div>
                </div>
            </Div>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit" [attr.data-dismiss]="userForm.valid ? 'modal' : null" (click)="save()">Add</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- 
    ngModel   ------ Camle Case
    ngIf
    ngSwtichCase
    ngSwtichDefault

    a=100;

    <div data-target="#myid"


    <div [attr.data-target]= "a==100 ? '#myid' : '#myid2'" >

    
    []
    {{  }}
    [(ngModel)]
    a="1.jpg";



    <p>{{ a }}</p>
    <img src="{{ a }}" />
    only a's value is bind

    <img [ngSrc]="a" />
    attribute(src) is bind with a

    <input type="text" value="{{ a }}" />
    there only print value is bind


    <input type="text" [(ngModel)]="a" />
    there a's value is bind


    src ----- [ngSrc]
    class --- [ngClass]

   
    border -- [ngBorder]

    <table [attr.border]="a"


    Property Binding

---------------------------------------

x=true

    <p class="text-danger">

        <p [ngClass]="x=='true' ? 'text-danger' : 'text-dark'"

 -->
