<section class="section cta-subscribe" id="contact">
	<div class="container">
		<div class="row bg-elipse-red">
			<div class="col-lg-4">
				<div class="image"><img class="phone-thumb" src="../assets/images/phones/iphone-banner.png" alt="iphone-app"></div>
			</div>
			<div class="col-lg-8 align-self-center">
				<div class="content">
					<div class="mb-4">
						<h2>Subscribe Our Newsletter</h2>
					</div>
					<div class="description">
						<p>Demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee idea
							of denouncing pleasure and praising</p>
					</div>
					<form action="#">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Enter your email address">
							<div class="input-group-append">
								<span class="input-group-text ti-arrow-right"></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
