<section class="section counter bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<!-- Counter Number -->
					<h3><span class="count" data-count="29">0</span>k</h3>
					<!-- Counter Name -->
					<p>Download</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<!-- Counter Number -->
					<h3><span class="count" data-count="200">0</span>k</h3>
					<!-- Counter Name -->
					<p>Active Account</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<!-- Counter Number -->
					<h3><span class="count" data-count="60">0</span>k</h3>
					<!-- Counter Name -->
					<p>Happy User</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
				<div class="counter-item">
					<!-- Counter Number -->
					<h3><span class="count" data-count="300">0</span>k<sup>+</sup></h3>
					<!-- Counter Name -->
					<p>Download</p>
				</div>
			</div>
		</div>
	</div>
</section>
