<section class="section testimonial bg-primary-shape" id="testimonial">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section-title">
					<h2 class="text-white">Our Happy Customers</h2>
					<p class="text-white">Demoralized by the charms of pleasure of the moment, so blinded by desire, that they
						cannot foresee idea of denouncing pleasure and praising</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<!-- Testimonial Carosel -->
<div class="testimonial-slider">
	<!-- testimonial item -->
	<div class="testimonial-item">
		<div class="row">
			<div class="col-md-5 client-img" style="background-image: url(../assets/images/testimonial/client-1.jpg);">
			</div>
			<div class="col-md-7">
				<div class="p-4 bg-white">
					<strong class="mb-3 d-block">They are great agency</strong>
					<p class="lead font-italic mb-4">I recently hired Genox to develop a new version of my most popular website
						and I’m extremely happy with their work.</p>
					<h6>Mike Andrew</h6>
					<p>CEO - Philandropia</p>
				</div>
			</div>
		</div>
	</div>
	<!-- testimonial item -->
	<div class="testimonial-item">
		<div class="row">
			<div class="col-md-5 client-img" style="background-image: url(../assets/images/testimonial/client-2.jpg);">
			</div>
			<div class="col-md-7">
				<div class="p-4 bg-white">
					<strong class="mb-3 d-block">They are great agency</strong>
					<p class="lead font-italic mb-4">I recently hired Genox to develop a new version of my most popular website
						and I’m extremely happy with their work.</p>
					<h6>Selena Catt</h6>
					<p>CEO - Philandropia</p>
				</div>
			</div>
		</div>
	</div>
</div>
			</div>
		</div>
	</div>
</section>
