<div class="row mt-4">
    <div class="col-md-8">
        <button data-toggle="modal" data-target="#addModal" class="btn btn-primary">Add</button>
    </div>
    <Br />
    <table class="table table-dark table-bordered">
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let s of allStudent; let n = index">
            <td>{{ n+1 }}</td>
            <td>{{ s.fullname }}</td>
            <td>{{ s.age }}</td>
            <td>{{ s.city }}</td>
            <td>{{ s.address }}</td>
        </tr>
    </table>
</div>


<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="studentForm">
            <div class="modal-header">
                <h3>Add New Student</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Full Name</label>
                    <input [ngClass]="{'is-invalid' : isSubmit && studentForm.controls.fullname.errors }" formControlName="fullname" type="text" class="form-control" />
                    <div *ngIf="isSubmit && studentForm.controls.fullname.errors" class="invalid-feedback">
                        <div *ngIf="studentForm.controls.fullname.errors.required">
                            Insert Full Name
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Age</label>
                    <input [ngClass]="{'is-invalid' : isSubmit && studentForm.controls.age.errors }" formControlName="age" type="text" class="form-control" />
                    <div *ngIf="isSubmit && studentForm.controls.age.errors" class="invalid-feedback">
                        <div *ngIf="studentForm.controls.age.errors.required">
                            Insert Age
                        </div>
                        <div *ngIf="studentForm.controls.age.errors.numErr">
                            Insert Numbers Only
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>City</label>
                    <select [ngClass]="{'is-invalid' : isSubmit && studentForm.controls.city.errors }" formControlName="city" class="form-control" >
                        <option value="">Select</option>
                        <option value="indore">Indore</option>
                        <option value="bhopal">Bhopal</option>
                        <option value="mumbai">Mumbai</option>
                    </select>
                    <div *ngIf="isSubmit && studentForm.controls.city.errors" class="invalid-feedback">
                        <div *ngIf="studentForm.controls.city.errors.required">
                            Select city
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea [ngClass]="{'is-invalid' : isSubmit && studentForm.controls.address.errors }" formControlName="address" class="form-control" ></textarea>
                    <div *ngIf="isSubmit && studentForm.controls.address.errors" class="invalid-feedback">
                        <div *ngIf="studentForm.controls.address.errors.required">
                            Insert Address
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <input type="submit" [attr.data-dismiss]="studentForm.valid ? 'modal' : null" (click)="save()" value="Add" class="btn btn-success" >
                <input type="button" value="close" data-dismiss="modal" class="btn btn-danger" >
            </div>
        </form>

        </div>
    </div>

</div>


